<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>
    <div style="border:2px dotted #99cc99; margin:auto; padding:5px;">
     <% if (!user) { %>
  <form method="POST" action="/login">
    <input type="text" name="username" placeholder="username" />
    <input type="text" name="password" placeholder="password" style="margin-right:1em"/>
    <button type="submit" class="btn btn-outline-dark">Login</button>
    <a href ="/register" class="btn btn-outline-dark">Register </a>
  </form>
  
  <%} else { %>
  <h4> Logged In as: <%= user.email %>, Welcome!</h4>
  <form method="POST" action="/logout">
    <input type="submit" class="btn btn-outline-dark" value="logout">
  </form>
  <% } %>
    </div>
  </nav>
</header>
